/* styles */

:root {
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);

  --color-tiber: rgb(22, 66, 60);
  --color-tiber-06: rgba(22, 66, 60, 0.6);
  --color-patina: rgb(106, 156, 137);
  --color-iceberg: rgb(196, 218, 210);
  --color-lily-white: rgb(233, 239, 236);
  --color-muted-red: rgb(207, 83, 79);
  --color-muted-red-06: rgba(207, 83, 79, 0.6);

  --font-size-12px: 12px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

form {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 30px;
  color: var(--color-white);
  background-color: var(--color-patina);
  font-size: var(--font-size-12px);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background: transparent;
  outline: none;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.3s;
}

.button:hover {
  filter: brightness(1.2);
}

.button.primary {
  color: var(--color-white);
  background-color: var(--color-patina);
}

.button.secondary {
  color: var(--color-patina);
}

.button.temporary-mt {
  margin-top: 20px;
}

.button[type="submit"] {
  margin-top: 20px;
}

.buttonWrapper {
  width: 250px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.confirmModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-tiber-06);
}

.confirmModalBox {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 500px;
  height: 200px;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 20px;
}

.confirmModalContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.confirmModalDescription {
  font-size: 22px;
  color: var(--color-tiber);
}

.confirmModalButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 20px;
}

.training {
  border: 1px solid black;
  padding: 10px;
  gap: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.set {
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

/* footer */
.footerWrapper {
  max-width: 600px;
  margin: auto auto 0;
  padding: 15px 30px;
}
