/* styles */

:root {
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);

  --color-tiber: rgb(22, 66, 60);
  --color-tiber-06: rgba(22, 66, 60, 0.6);
  --color-patina: rgb(106, 156, 137);
  --color-iceberg: rgb(196, 218, 210);
  --color-lily-white: rgb(233, 239, 236);
  --color-muted-red: rgb(207, 83, 79);
  --color-muted-red-06: rgba(207, 83, 79, 0.6);

  --fw-600: 600;

  --fs-16: 16px;
  --fs-22: 22px;

  --d12: 12px;
  --d24: 24px;
  --d96: 96px;

  --wrapper-600: 600px;
  --wrapper-500: 500px;
  --wrapper-250: 250px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1 {
  text-align: center;
  padding-bottom: var(--d12);
}

form {
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background: transparent;
  outline: none;
  border: none;
  padding: var(--d12) var(--d24);
  border-radius: var(--d12);
  font-size: var(--fs-16);
  font-weight: var(--fw-600);
  cursor: pointer;
  transition: filter 0.3s;
}

.button:hover {
  filter: brightness(1.2);
}

.button.primary {
  color: var(--color-white);
  background-color: var(--color-patina);
}

.button.secondary {
  color: var(--color-patina);
}

.button.temporary-mt {
  margin-top: var(--d24);
}

.button[type="submit"] {
  margin-top: var(--d24);
}

.buttonWrapper {
  width: var(--wrapper-250);
  gap: var(--d24);
  display: flex;
  flex-direction: column;
}

.confirmModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-tiber-06);
}

.confirmModalBox {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: var(--wrapper-500);
  background-color: var(--color-white);
  border-radius: var(--d12);
  padding: var(--d24);
}

.confirmModalContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--d96);
}

.confirmModalDescription {
  font-size: var(--fs-22);
  color: var(--color-tiber);
}

.confirmModalButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: var(--d24);
}

.trainingExercise {
  border: 1px solid black;
  padding: var(--d12);
  gap: var(--d12);
  margin-bottom: var(--d12);
  display: flex;
  flex-direction: column;
}

.set {
  border: 1px solid red;
  padding: var(--d12);
  margin-bottom: var(--d12);
}

select {
  margin-bottom: var(--d12);
}

.wrapper {
  max-width: var(--wrapper-600);
  margin: 0 auto;
  padding-top: var(--d12);
}

.setInputs {
  display: flex;
  justify-content: space-between;
}

.setInput {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  gap: var(--d12);
}

.buttonSet {
  padding-top: var(--d12);
  margin: 0 auto;
}
