/* styles */

:root {
  --color-tiber: #16423c;
  --color-patina: #6a9c89;
  --color-iceberg: #c4dad2;
  --color-lily-white: #e9efec;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1000px;
  border: 1px solid black;
  padding: 10px;
}
